.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.loader > span{
    display: inline-block;
    background-color: palevioletred;;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 8px;
    animation: bounce .6s infinite alternate;
    transform: translate3d(0, 0, 0);
}

.loader > span:nth-child(2){
    background-color: peachpuff;
    animation-delay: .2s;
}

.loader > span:nth-child(3){
    background-color: paleturquoise;
    animation-delay: .4s;
}

@keyframes bounce {
    to{
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
    
}